.section {
  padding-top: 60px;
}

.cardWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.mainwrapper {
  width: 100%;
  min-height: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

.filters {
  //position: sticky;
  //top: 70px;
  display: flex;
  gap: 10px;

  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
  //border: 1px solid black;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(76, 76, 76, 0.2);
}

.filter {
  background-color: #F7F7F7;
  padding: 5px 20px;
  border-radius: 30px;
}