.wrapper {
  display: flex;
  gap: 10px;
}

.cover {
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: block;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.iconButton {
  background-color: transparent;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}