.boxWrap {
  position: relative;
  line-height: 1;

}

.icon {
  position: relative;
  margin: 0;
  height: 35px;
  width: 35px;
  border-radius: 7px;
  padding: 2px;
}

.indicator {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff0000;
  height: 16px;
  min-width: 16px;
  width: fit-content;
  z-index: 0;
  border-radius: 999px;
  padding: 3px;
  font-size: 12px;
  line-height: 16px;
  bottom: 20px;
  left: 20px
}