* {
  margin: 0;
  padding: 0;
}

.primary,
.secondary {
  all: unset;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  padding: 6px 28px;

  font-family: inherit;
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);
  color: black;
  text-align: center;

  border: 0;
  border-radius: 4px;
  user-select: none;

  svg {
    margin-right: 10px;
  }

  @media screen and (max-width: 768px) {
    padding: 2px 10px;
    font-size: 14px;
  }
}

// ----------primary----------

.primary {
  color: var(--color-dark-700);
  background-color: var(--color-accent-100);
  //box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);
}

.primary:active {
  background-color: var(--color-accent-700);
}

.primary:hover {
  background-color: var(--color-accent-300);
}

.primary:focus {
  background-color: var(--color-accent-500);
}

.primary:disabled {
  background-color: var(--color-accent-900);
}

// ----------secondary----------

.secondary {
  background-color: white;
  //box-shadow: 0 2px 10px 0 rgb(109 109 109 / 25%);
  border: 1px solid var(--color-dark-700);
}

.secondary:active {
  background-color: var(--color-dark-100);
}

.secondary:hover {
  background-color: var(--color-accent-500);
}

.secondary:focus {
  background-color: var(--color-accent-500);
}

.secondary:disabled {
  background-color: var(--color-light-900);
}

.fullWidth {
  width: 100%;
}