.link {
  position: relative;
    &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: -1px;
      height: 2px;
      background-color: #cdc8b8;
      transition: 0.5s;
      width: 0;
    }

    &:hover {
      &::before {
        width: 100%;
      }
    }

}