.wrapper {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
  color: white;
  //backdrop-filter: contrast(80%);
  background-image: linear-gradient(to top, rgba(255,255,255,0) 40%, rgba(255,255,255,0.6) 70%, rgba(255,255,255,0.6) 100%);
  padding: 100px 0 100px;
  
  @media screen and (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
    gap: 35px;

  }
}

.mainImage {
  width: 100%;
}

.sectionMain {
  background-image: url("./../../assets/images/main.jpeg");
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-blend-mode: darken;
}

.title1 {
  font-size: 72px;
  opacity: 0.9;
  margin-bottom: 30px;
  @media screen and (max-width: 768px) {
    font-size: 30px;
    margin-bottom: 10px;
  }
}

.title2 {
 font-size: 26px;
  opacity: 0.9;
  margin-left: 100px;
  @media screen and (max-width: 768px) {
    font-size: 20px;
    margin-left: 20px;
  }
}

.form1 {
  width: 360px;
  height: 450px;
  border-radius: 30px;
  padding: 10px;
  background: rgba(209, 209, 205, 0.7);
  color: black;
}