.pageTitle {
  margin: 10px 5px 5px;
}

.wrapper {
  //padding: 20px;
  display: flex;
}

.basket {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 0
}

.form {
  width: 30%;
}

.formWrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}