.card {
  //max-width: 500px;
  //flex-grow: 1;
  width: 400px;

  //border: 1px solid rgb(236, 236, 236);
  //margin-right: -1px;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
  box-shadow: var(--bordershadow);

  &:hover {
    //box-shadow: rgb(236, 236, 236) 0 0 30px 10px;
    button:last-child {
      background-color: var(--color-accent-300);
      &:hover {
        background-color: var(--color-accent-500);
      }
    }
  }

  @media screen and (max-width: 768px) {
    width: 48%;
    padding: 10px;
    border-radius: 10px;
    line-height: 18px;
  }

}

.cover {
  width: 100%;
  max-height: 300px;
  margin: 0 auto;
  object-fit: cover;
}



.title {
  margin: 20px auto 14px;
  @media screen and (max-width: 768px) {
    font-size: 14px;
    margin: 10px auto 5px;
  }
}

.description {
  font-size: 14px;
  @media screen and (max-width: 768px) {
    font-size: 12px;
  }
}

.priceWrapper {
  margin: 12px auto 20px;
  font-size: 16px;
  @media screen and (max-width: 768px) {
    margin: 5px auto 10px;
    font-size: 12px;
  }
}

.price1 {

}

.price2 {
  //font-size: 16px;
  color: #BDBDBD;
  text-decoration: line-through;
}

.buttonsWrapper {
  display: flex;
  justify-content: space-between;
}