.wrapper {
  width: 33.333333333%;
  padding: 5px;

  @media screen and (max-width: 992px) {
    width: 50%;
  }
}

.card {

  width: 100%;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
  box-shadow: var(--bordershadow);

  @media screen and (max-width: 768px) {
    padding: 10px;
    border-radius: 10px;
    line-height: 18px;
  }

}

.cover {
  display: block;
  width: 100%;
  //max-height: 300px;
  margin: 0 auto;
  object-fit: cover;
  user-select: none;
  pointer-events: none;
  aspect-ratio: 1 / 1;
}



.title {
  margin: 20px auto 14px;
  @media screen and (max-width: 768px) {
    font-size: 14px;
    margin: 10px auto 5px;
  }
}

.description {
  font-size: 14px;
  @media screen and (max-width: 768px) {
    font-size: 12px;
  }
}

.priceWrapper {
  margin: 12px auto 20px;
  font-size: 16px;
  @media screen and (max-width: 768px) {
    margin: 5px auto 10px;
    font-size: 12px;
  }
}

.price1 {

}

.price2 {
  //font-size: 16px;
  color: #BDBDBD;
  text-decoration: line-through;
}

.buttonsWrapper {
  display: flex;
  justify-content: space-between;
}