.colors {
  display: flex;
  align-items: center;
  gap: 5px;
  .color {
    cursor: pointer;
    font-size: 0;
    color: white;
    width: 15px;
    height: 15px;
    border-radius: 100px;
    border: 1px solid var(--color-accent-300);
  }
}

.colorImg {
  width: 50px;
  height: 60px;
  object-fit: cover;
  border-radius: 5px;

}

.colorActive {
  border: 2px solid black;
}