.wrapper {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-accent-500);
  border-radius: 5px;
  width: fit-content;
}

.counterButton {
  padding: 8px 12px;
  color: var(--color-accent-500);
  font-size: 20px;
  border: none;
  @media screen and (max-width: 576px) {
    padding: 0px 5px;

  }
}

.input {
  width: 31px;
  text-align: center;
  border: none;
}