.alice-carousel__dots {
    /*margin: 30px 3px 5px;*/
    margin: 0 auto;
    /*padding: 0;*/
    /*list-style: none;*/
    /*text-align: center;*/
    position: absolute;
    bottom: 0;
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
    width: 100%;
}

.alice-carousel__prev-btn, .alice-carousel__next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;

}

.alice-carousel__prev-btn-item:hover, .alice-carousel__next-btn-item:hover {
    /*display: inline-block;*/
    /*cursor: pointer;*/
    /*padding: 5px;*/
    /*margin: 0;*/
    color: #ffffff;
}

.alice-carousel__prev-btn {
    margin-left: 5px;
}

.alice-carousel__next-btn {
    right: 0;
    margin-right: 5px;
}

.alice-carousel__prev-btn-item,
.alice-carousel__next-btn-item {
    color: #ffffff;
}

.alice-carousel__dots-item:not(.__custom):not(:last-child) {

    margin-right: 10px;

    @media screen and (max-width: 768px) {
        margin-right: 10px;
    }

}